@import "tailwindcss";

:root {
  color-scheme: dark;
}

.cookie-regular {
  font-family: "Cookie", serif;
  font-weight: 400;
  font-style: normal;
}

.hide-scroll-bar{
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;
}

body{
  background-color: black;
}

.noto-sans-jp-body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}
